<div class="eupopup eupopup-block eupopup-container eupopup-container-block"></div>

<div class="eupopup-markup" style="display: none;">
    <div class="eupopup-head">This website is using cookies</div>
    <div class="eupopup-body">We use cookies to ensure that we give you the best experience on our website. If you continue using the site, we\'ll assume that you are happy to receive all cookies on this website.</div>
    <div class="eupopup-buttons">
        <a href="#" class="eupopup-button eupopup-button_1">Continue</a>
        <a href="http://www.wimagguc.com/?cookie-policy" target="_blank" class="eupopup-button eupopup-button_2">Learn more</a>
    </div>
    <div class="clearfix"></div>
    <a href="#" class="eupopup-closebutton">x</a>
</div>